table {
    border-collapse: collapse;
    width: 80%;
    font-size: 1.5em;
    align-self: center;
  }
  
  th, td {
    text-align: left;
   
  }
 
  tr:nth-child(even){background-color: #bababa}
  
  th {
    background-color: #000000;
    color: white;
  }